# cleaning des data diplome Natianal du brevet
analyse sur le ficheir "data/Second_deg_Colleges/fr-en-ips_colleges2016_2021.csv" 
- source 2016-2021=> https://www.data.gouv.fr/fr/datasets/r/b63bd365-c589-48e4-b7d8-9e4f5db133c5
- source 2022 + => https://www.data.gouv.fr/fr/datasets/r/28e511a7-af0d-48c7-a8bb-2f38ec003f49

In [1]:
import pandas as pd
import seaborn as sns
import os
from dotenv import load_dotenv, find_dotenv

In [2]:
load_dotenv(find_dotenv("./.env"))
path3 = os.environ.get("GEOCOORD") #Variable globale pour le chemin vers fichier coordonnées géographiques.

In [4]:
dfDNB = pd.read_csv(os.path.join(path2,"fr-en-dnb-par-etablissement.csv"), sep=";")

In [5]:
# résultats du brevet
dfDNB.head()

,Session,Numero d'etablissement,Type d'etablissement,Patronyme,Secteur d'enseignement,Commune,Libellé commune,Code département,Libellé département,Code académie,...,Code région,Libellé région,Inscrits,Presents,Admis,Admis sans mention,Nombre_d_admis_Mention_AB,Admis Mention bien,Admis Mention très bien,Taux de réussite
0,2017,0541333F,COLLEGE,JOLIOT CURIE,PUBLIC,54536,TUCQUEGNIEUX,054,MEURTHE-ET-MOSELLE,12,...,6,GRAND EST,73,73,70,11,22,22,15,"95,80%"
1,2017,0541370W,LYCEE PROFESSIONNEL,CLAUDE DAUNOT,PRIVE,54395,NANCY,054,MEURTHE-ET-MOSELLE,12,...,6,GRAND EST,15,15,14,5,7,2,0,"93,30%"
2,2017,0541579Y,COLLEGE,EMILE GALLE,PUBLIC,54314,LEXY,054,MEURTHE-ET-MOSELLE,12,...,6,GRAND EST,111,111,103,24,30,27,22,"92,70%"
3,2017,0550013R,COLLEGE,VAL D'ORNOIS,PUBLIC,55215,GONDRECOURT-LE-CHATEAU,055,MEUSE,12,...,6,GRAND EST,25,25,25,8,8,3,6,"100,00%"
4,2017,0550960V,LYCEE PROFESSIONNEL,STENAY,PRIVE,55502,STENAY,055,MEUSE,12,...,6,GRAND EST,34,33,27,8,14,3,2,"81,80%"

In [8]:
dfDNB.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 139580 entries, 0 to 139579
Data columns (total 21 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Session                    139580 non-null  int64
 1   Numero d'etablissement     139580 non-null  object
 2   Type d'etablissement       139580 non-null  object
 3   Patronyme                  139479 non-null  object
 4   Secteur d'enseignement     139580 non-null  object
 5   Commune                    139580 non-null  object
 6   Libellé commune            139580 non-null  object
 7   Code département           139580 non-null  object
 8   Libellé département        139580 non-null  object
 9   Code académie              139580 non-null  int64
 10  Libellé académie           139580 non-null  object
 11  Code région                139580 non-null  int64
 12  Libellé région             139580 non-null  object
 13  Inscrits                   139580 non-null  int64
 14  Presents                   139580 non-null  int64
 15  Admis                      139580 non-null  int64
 16  Admis sans mention         139580 non-null  int64
 17  Nombre_d_admis_Mention_AB  139580 non-null  int64
 18  Admis Mention bien         139580 non-null  int64
 19  Admis Mention très bien    139580 non-null  int64
 20  Taux de réussite           139580 non-null  object
dtypes: int64(10), object(11)
memory usage: 22.4+ MB

In [7]:
dfDNB["Numero d'etablissement"].nunique()
# Il y a plus d'établissements qui font passer le brevet que de collèges en France.
#  En effet, a priori, certains lycées font passer le brevet, notamment les lycées professionnels, CFA,

9608

In [23]:
dfDNB.groupby('Type d\'etablissement').nunique()

,Session,Numero d'etablissement,Patronyme,Secteur d'enseignement,Commune,Libellé commune,Code département,Libellé département,Code académie,Libellé académie,Code région,Libellé région,Inscrits,Presents,Admis,Admis sans mention,Nombre_d_admis_Mention_AB,Admis Mention bien,Admis Mention très bien,Taux de réussite
Type d'etablissement,,,,,,,,,,,,,,,,,,,,
AUTRE,16,31,1,1,1,1,1,1,31,31,17,17,94,90,80,47,36,31,29,157
CFA,16,30,31,2,28,28,11,11,7,7,7,7,28,28,27,22,17,8,4,39
COLLEGE,16,7231,4854,2,3902,3868,101,101,32,32,18,18,414,411,386,161,145,157,210,1025
EREA,16,63,69,2,63,63,52,52,26,26,13,13,43,45,40,25,15,11,8,128
LYCEE,16,656,708,2,537,537,97,97,30,30,16,16,119,117,106,66,59,43,31,487
LYCEE PROFESSIONNEL,16,1701,2233,2,1272,1265,99,99,31,31,17,17,110,108,101,55,46,35,22,717

In [25]:
#recalculons le taux de réussite.
dfDNB["Taux de réussite"] = round(dfDNB.Admis / dfDNB.Inscrits, 3)

In [26]:
# Ne gardons que les résultats.avec les années d'IPS, à savoir 2016, 
# et donc session 2017 et plus.
dfDNB = dfDNB[dfDNB.Session > 2016]