In [14]:
import pandas as pd
import seaborn as sns
import os
from dotenv import load_dotenv, find_dotenv

load_dotenv(find_dotenv("./.env"))
path4 = os.environ.get("DESTFILE_1622")
path5 = os.environ.get("EFFECTIF_CLASSES")

In [15]:
# reading the datasets
df_effectif = pd.read_csv(path5, sep=";")

In [16]:
df_effectif.head()

,rentree_scolaire,region_academique,academie,departement,commune,numero_ecole,denomination_principale,patronyme,secteur,rep,...,nombre_eleves_preelementaire_hors_ulis,nombre_eleves_elementaire_hors_ulis,nombre_eleves_ulis,nombre_eleves_cp_hors_ulis,nombre_eleves_ce1_hors_ulis,nombre_eleves_ce2_hors_ulis,nombre_eleves_cm1_hors_ulis,nombre_eleves_cm2_hors_ulis,tri,code_postal
0,2022,AUVERGNE-ET-RHONE-ALPES,CLERMONT-FERRAND,ALLIER,ABREST,0030701W,ECOLE PRIMAIRE PUBLIQUE,NaN,PUBLIC,0,...,56,108,0,16,22,18,31,21,78-AUVERGNE-ET-RHONE-ALPES-CLERMONT-FERRAND-AL...,3200
1,2022,AUVERGNE-ET-RHONE-ALPES,CLERMONT-FERRAND,ALLIER,AINAY-LE-CHATEAU,0030705A,ECOLE PRIMAIRE,NaN,PUBLIC,0,...,30,69,0,13,10,14,18,14,78-AUVERGNE-ET-RHONE-ALPES-CLERMONT-FERRAND-AL...,3360
2,2022,AUVERGNE-ET-RHONE-ALPES,CLERMONT-FERRAND,ALLIER,ARCHIGNAT,0030709E,ECOLE DE NIVEAU ELEMENTAIRE,DU PARC,PUBLIC,0,...,34,11,0,0,11,0,0,0,78-AUVERGNE-ET-RHONE-ALPES-CLERMONT-FERRAND-AL...,3380
3,2022,AUVERGNE-ET-RHONE-ALPES,CLERMONT-FERRAND,ALLIER,ARFEUILLES,0030711G,ECOLE PRIMAIRE PUBLIQUE,NaN,PUBLIC,0,...,27,26,0,7,5,6,3,5,78-AUVERGNE-ET-RHONE-ALPES-CLERMONT-FERRAND-AL...,3120
4,2022,AUVERGNE-ET-RHONE-ALPES,CLERMONT-FERRAND,ALLIER,ARPHEUILLES-SAINT-PRIEST,0030715L,ECOLE ELEMENTAIRE PUBLIQUE,NaN,PUBLIC,0,...,0,25,0,0,0,0,9,16,78-AUVERGNE-ET-RHONE-ALPES-CLERMONT-FERRAND-AL...,3420

In [17]:
df_effectif.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194898 entries, 0 to 194897
Data columns (total 23 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   rentree_scolaire                        194898 non-null  int64
 1   region_academique                       194898 non-null  object
 2   academie                                194898 non-null  object
 3   departement                             194898 non-null  object
 4   commune                                 194898 non-null  object
 5   numero_ecole                            194898 non-null  object
 6   denomination_principale                 194897 non-null  object
 7   patronyme                               148531 non-null  object
 8   secteur                                 194898 non-null  object
 9   rep                                     194898 non-null  int64
 10  rep_plus                                194898 non-null  int64
 11  nombre_total_classes                    194898 non-null  int64
 12  nombre_total_eleves                     194898 non-null  int64
 13  nombre_eleves_preelementaire_hors_ulis  194898 non-null  int64
 14  nombre_eleves_elementaire_hors_ulis     194898 non-null  int64
 15  nombre_eleves_ulis                      194898 non-null  int64
 16  nombre_eleves_cp_hors_ulis              194898 non-null  int64
 17  nombre_eleves_ce1_hors_ulis             194898 non-null  int64
 18  nombre_eleves_ce2_hors_ulis             194898 non-null  int64
 19  nombre_eleves_cm1_hors_ulis             194898 non-null  int64
 20  nombre_eleves_cm2_hors_ulis             194898 non-null  int64
 21  tri                                     194898 non-null  object
 22  code_postal                             194898 non-null  int64
dtypes: int64(14), object(9)
memory usage: 34.2+ MB

In [18]:
df_effectif.describe()

,rentree_scolaire,rep,rep_plus,nombre_total_classes,nombre_total_eleves,nombre_eleves_preelementaire_hors_ulis,nombre_eleves_elementaire_hors_ulis,nombre_eleves_ulis,nombre_eleves_cp_hors_ulis,nombre_eleves_ce1_hors_ulis,nombre_eleves_ce2_hors_ulis,nombre_eleves_cm1_hors_ulis,nombre_eleves_cm2_hors_ulis,code_postal
count,194898.000000,194898.000000,194898.000000,194898.000000,194898.000000,194898.000000,194898.000000,194898.000000,194898.000000,194898.000000,194898.000000,194898.000000,194898.000000,194898.000000
mean,2020.491873,0.085773,0.050421,6.079046,134.037394,48.584716,84.358434,1.094244,16.655117,16.801517,16.932452,16.909034,17.060314,53482.627646
std,1.117654,0.280029,0.218813,4.271097,96.233160,54.217965,93.411465,3.426264,19.204942,19.247414,19.301570,19.400022,19.667532,27204.817954
min,2019.000000,0.000000,0.000000,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1000.000000
25%,2019.000000,0.000000,0.000000,3.000000,64.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,31290.000000
50%,2020.000000,0.000000,0.000000,5.000000,112.000000,34.000000,54.000000,0.000000,11.000000,11.000000,11.000000,11.000000,11.000000,57575.000000
75%,2021.000000,0.000000,0.000000,8.000000,181.000000,77.000000,134.000000,0.000000,26.000000,27.000000,27.000000,27.000000,27.000000,76430.000000
max,2022.000000,1.000000,1.000000,43.000000,1093.000000,732.000000,839.000000,85.000000,197.000000,196.000000,182.000000,198.000000,210.000000,97680.000000

In [19]:
print(df_effectif.isnull().sum())

rentree_scolaire                              0
region_academique                             0
academie                                      0
departement                                   0
commune                                       0
numero_ecole                                  0
denomination_principale                       1
patronyme                                 46367
secteur                                       0
rep                                           0
rep_plus                                      0
nombre_total_classes                          0
nombre_total_eleves                           0
nombre_eleves_preelementaire_hors_ulis        0
nombre_eleves_elementaire_hors_ulis           0
nombre_eleves_ulis                            0
nombre_eleves_cp_hors_ulis                    0
nombre_eleves_ce1_hors_ulis                   0
nombre_eleves_ce2_hors_ulis                   0
nombre_eleves_cm1_hors_ulis                   0
nombre_eleves_cm2_hors_ulis                   0
tri                                           0
code_postal                                   0
dtype: int64

In [20]:
df_duplicates=df_effectif[df_effectif.duplicated()]
print(df_duplicates)

Empty DataFrame
Columns: [rentree_scolaire, region_academique, academie, departement, commune, numero_ecole, denomination_principale, patronyme, secteur, rep, rep_plus, nombre_total_classes, nombre_total_eleves, nombre_eleves_preelementaire_hors_ulis, nombre_eleves_elementaire_hors_ulis, nombre_eleves_ulis, nombre_eleves_cp_hors_ulis, nombre_eleves_ce1_hors_ulis, nombre_eleves_ce2_hors_ulis, nombre_eleves_cm1_hors_ulis, nombre_eleves_cm2_hors_ulis, tri, code_postal]
Index: []

[0 rows x 23 columns]

In [21]:
num_ecole_counts=df_effectif.value_counts()
if num_ecole_counts.max() > 1 :
    print("Il y a des doublons")
else :
    print("Il n'y a pas de doublons")

Il n'y a pas de doublons

In [22]:
# Formater la date dans les deux datasets
#df_effectif["rentree_scolaire"] = pd.to_datetime(df_effectif["rentree_scolaire"])
#print(df_effectif["rentree_scolaire"])

In [ ]:
df_effectif = df_effectif.copy()
#df_effectif['rentree_scolaire'] = pd.to_datetime(df_effectif['rentree_scolaire'])
min_date = df_effectif['rentree_scolaire'].min()
max_date = df_effectif['rentree_scolaire'].max()
print("Minimum Date:", min_date.strftime("%Y"))
print("Maximum Date:", max_date.strftime("%Y"))

In [24]:
df_effectif.columns

Index(['rentree_scolaire', 'region_academique', 'academie', 'departement',
       'commune', 'numero_ecole', 'denomination_principale', 'patronyme',
       'secteur', 'rep', 'rep_plus', 'nombre_total_classes',
       'nombre_total_eleves', 'nombre_eleves_preelementaire_hors_ulis',
       'nombre_eleves_elementaire_hors_ulis', 'nombre_eleves_ulis',
       'nombre_eleves_cp_hors_ulis', 'nombre_eleves_ce1_hors_ulis',
       'nombre_eleves_ce2_hors_ulis', 'nombre_eleves_cm1_hors_ulis',
       'nombre_eleves_cm2_hors_ulis', 'tri', 'code_postal'],
      dtype='object')

In [25]:
#df_effectif
# Definir les colonnes a garder
selected_columns = ["numero_ecole", "rentree_scolaire",  "nombre_total_classes",
       "nombre_total_eleves", "nombre_eleves_preelementaire_hors_ulis",
       "nombre_eleves_elementaire_hors_ulis", "nombre_eleves_ulis",
       "nombre_eleves_cp_hors_ulis", "nombre_eleves_ce1_hors_ulis",
       "nombre_eleves_ce2_hors_ulis","nombre_eleves_cm1_hors_ulis", "nombre_eleves_cm2_hors_ulis"]
# Creer un dataframe avec cette selection puis le sauvegarder
df_effectifs_filtered = df_effectif[selected_columns]
df_effectifs_filtered.to_csv(path4 + "\effectifs-nb_classes-filtres.csv", index=False)
print("DataFrame filtre sauvegarde sur:", path4 + "\effectifs-nb_classes-filtres.csv")

DataFrame filtre sauvegarde sur: C:\Users\Admin\Desktop\PrezJedah\data_cleaned\effectifs-nb_classes-filtres.csv